body{
    background-color: black;
}
.dop {
    font-size: 50px;
    color: brown;
}
.fo{
    background-color: blueviolet;
}
.footer{
    background-attachment: fixed;
    background-color: brown;
    font-size: 52px;
}